<div class="reading-page">
  <div class="lesson_11_1_heading" appHeading>
    <span class="border">11.1 জীবাশ্ম জ্বালানি (Fossil Fuel)</span>
  </div>
  <div class="lesson_11_1_content">
    <p class="content____text">
      বহু প্রাচীনকালের উদ্ভিদ এবং প্রাণীর মৃতদেহের যে ধ্বংসাবশেষ মাটির নিচে
      পাওয়া যায় তাকে জীবাশ্ম বলে। শত শত মিলিয়ন বছর আগের প্রাণী এবং
      উদ্ভিদদেহের ধ্বংসাবশেষ জীবাশ্ম রূপে পাওয়া গেছে। কয়লা, প্রাকৃতিক গ্যাস ও
      পেট্রোলিয়াম যেগুলাে আমরা জ্বালানি হিসেবে ব্যবহার করি সেগুলাে জীবাশ্ম রূপে
      মাটির নিচ থেকে পাওয়া যায়। তাই কয়লা, প্রাকৃতিক গ্যাস ও পেট্রোলিয়ামকে
      জীবাশ্ম জ্বালানি বলে।
    </p>
    <p>
      শত শত মিলিয়ন বছর আগে এ পৃথিবীর ইতিহাসে বিভিন্ন সময় ছিল যখন এ পৃথিবীজুড়ে
      ছিল ঘন বনজঙ্গল, নিচু জলাভূমি আর সমুদ্র যেখানে ছিল জলজ উদ্ভিদ, ফাইটোপ্লাংকট
      (পানিতে বসবাসকারী এক ধরনের শৈবাল), জুওপ্লাংকটন (পানিতে বসবাসকারী এক ধরনের
      ছােট প্রাণী)। বিভিন্ন সময় বড় বড় প্রাকৃতিক বিপর্যয়ে এই ধরনের উদ্ভিদ,
      প্রাণী মাটিচাপা পড়ে যায়। সময়ের বিবর্তনে তার উপর আরও মাটি পড়ে। ধীরে
      ধীরে এগুলাে মাটির গভীর থেকে গভীরে চলে যেতে থাকে। ফলে এর উপর চাপ ও
      তাপমাত্রা বাড়তে থাকে। বায়ুর অনুপস্থিতিতে এগুলাের ক্ষয় ও রাসায়নিক
      পরিবর্তন ঘটতে থাকে। শত শত মিলিয়ন বছর ধরে তাপ, চাপ আর রাসায়নিক পরিবর্তনের
      কারণে বড় বড় উদ্ভিদ ও প্রাণী থেকে শুরু করে ক্ষুদ্রতম উদ্ভিদ ও প্রাণী
      পর্যন্ত সকল ধরনের উদ্ভিদ ও প্রাণী থেকে জীবাশ্ম জ্বালানির সৃষ্টি হয়েছে।
      বড় বড় উদ্ভিদ থেকে কয়লা আর ফাইটোপ্লাংকটন, জুওপ্লাংকটন ও মৃত প্রাণীর
      দেহাবশেষ থেকে পেট্রোলিয়ামের সৃষ্টি হয়েছে। এ পরিবর্তন অব্যাহত থাকায়
      পেট্রোলিয়াম আরও পরিবর্তিত হয়ে প্রাকৃতিক গ্যাস সৃষ্টি হয়। তাই কোথাও
      কোথাও পেট্রোলিয়াম ও প্রাকৃতিক গ্যাস এক সাথেই থাকে। যেমন: বংলাদেশের হরিপুর
      গ্যাসক্ষেত্রে প্রাকৃতিক গ্যাসের সাথে পেট্রোলিয়ামও পাওয়া গেছে। এই জীবাশ্ম
      জ্বালানির মূল উৎস জীবদেহ, তাই এ সকল জ্বালানির মূল উপাদান কার্বন ও কার্বনের
      যৌগ।
    </p>
    <span style="font-size: large">better explanations::</span>
<app-img-slider [slides]="slides"></app-img-slider>
  </div>
  <div class="lesson_11_1_1_content">
    <p>
      <span appHeading>.1.1 প্রাকৃতিক গ্যাস(Natural Gas)</span>
       <span appTextHighlight>প্রাকৃতিক গ্যাসের প্রধান উপাদান হলাে মিথেন  (৪০%)</span>। এছাড়া প্রাকৃতিক গ্যাসে
      ইথেন (7%), প্রােপেন (6%), বিউটেন ও আইসােবিউটেন (4%) এবং পেন্টেন (3%) থাকে।
      কিন্তু বাংলাদেশে এ পর্যন্ত যে প্রাকৃতিক গ্যাস পাওয়া গেছে তাতে 99.99%
      মিথেন থাকে।
    </p>
  </div>
</div>

